In [66]:
import pandas as pd
import numpy as np
import sqlite3
import mysql.connector
import psycopg2
import os

# Подключение к БД

In [67]:
db_config = {
    "mysql":{
        "host": "localhost",
        "port": 3306,
        "user": "root",
        "pass": "",
        "database": "Test_bd",
    },
    "postgresql":{
        "host": "localhost",
        "port": 5432,
        "user": "postgres",
        "pass": "",
        "database": "Test_bd",

    },
    "mongodb":{
        "host": "localhost",
        "port": 27017,
        "user": "",
        "pass": "",
        "database": "",
    }
}

In [68]:
db_config["mysql"]["port"]

3306

In [69]:
sqlite3.sqlite_version

'3.37.2'

In [70]:
sqlite3_con = sqlite3.connect('db')
mysql_con = mysql.connector.connect(
    host = db_config["mysql"]["host"],
    port = db_config["mysql"]["port"],
    user = db_config["mysql"]["user"],
    passwd = db_config["mysql"]["pass"],
    database = db_config["mysql"]["database"]
)
postgresql_con = psycopg2.connect(
    host = db_config["postgresql"]["host"],
    port = db_config["postgresql"]["port"],
    user = db_config["postgresql"]["user"],
    password = db_config["postgresql"]["pass"],
    database = db_config["postgresql"]["database"],
)

In [71]:
sqlite3_result_df = pd.read_sql('''SELECT Credit.client_id FROM Credit limit 5''', sqlite3_con)
my_sql_result_df = pd.read_sql('''SELECT users.Name FROM users limit 5''', mysql_con)
postgresql_result_df = pd.read_sql('''SELECT * FROM users limit 5''', postgresql_con)
print("\nSQLite3")
print(sqlite3_result_df)
print("\nMySQL")
print(my_sql_result_df)
print("\nPostgreSQL")
print(postgresql_result_df)

SQLite3
   client_id
0        210
1        929
2        200
3         45
4        358

MySQL
   Name
0  Oleg
1   Bob

PostgreSQL
   id  Name
0   0   Bob
1   1  John

C:\Users\Роман\AppData\Local\Temp\ipykernel_17860\1047846932.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  my_sql_result_df = pd.read_sql('''SELECT users.Name FROM users limit 5''', mysql_con)
C:\Users\Роман\AppData\Local\Temp\ipykernel_17860\1047846932.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  postgresql_result_df = pd.read_sql('''SELECT * FROM users limit 5''', postgresql_con)

# Команды SQL

## Data Definition Language — язык определения данных

### CREATE
Создает новую таблицу, представление таблицы или другой объект в БД

### ALTER
Модифицирует существующий в БД объект, такой как таблица

### DROP
Удаляет существующую таблицу, представление таблицы или другой объект в БД

## Data Manipulation Language — язык изменения данных

### SELECT
Извлекает записи из одной или нескольких таблиц

In [27]:
query_sql = '''SELECT * FROM german_credit'''

print(pd.read_sql(query_sql, mysql_con))

    age     sex job housing saving_accounts checking_account credit_amount  \
0    33    male   2     own                                           3074
1    43    male   1     own          little           little          1344
2    52    male   2     own      quite rich                            936
3    35  female   3     own          little                           1393
4    28    male   2     own          little                            776
..   ..     ...  ..     ...             ...              ...           ...
995  65    male   2    free          little           little          2600
996  30    male   3     own          little         moderate          4455
997  33    male   2     own          little         moderate          6403
998  29  female   2     own                                           5003
999  44    male   2     own        moderate         moderate          1804

    duration    purpose default          contract_dt client_id
0          9   radio/TV       0  2008-06-29 18:52:00       210
1         12        car       0  2007-05-20 18:30:19       929
2          9  education       0  2008-04-27 08:23:07       200
3         11        car       0  2007-05-06 10:58:22        45
4         12   radio/TV       0  2007-07-21 13:22:14       358
..       ...        ...     ...                  ...       ...
995       18   radio/TV       1  2007-12-16 20:17:19       624
996       36   business       1  2007-07-12 14:08:58       181
997       24   radio/TV       0  2008-04-08 03:24:26       730
998       21        car       1  2007-11-29 15:51:45       557
999       12        car       0  2007-08-14 09:05:33        23

[1000 rows x 12 columns]

C:\Users\Роман\AppData\Local\Temp\ipykernel_17860\3773345162.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql(query_sql, mysql_con))

### INSERT
Создает записи

### UPDATE

Модифицирует записи

### DELETE
Удаляет записи

## Data Control Language — язык управления данными

### GRANT
Наделяет пользователя правами

### REVOKE
Отменяет права пользователя

## Операторы

### WHERE
Используется, когда нужно отфильтровать данные по нужному условию.

In [31]:
query_sql = '''SELECT * FROM german_credit AS credit
WHERE credit.age > 30 AND credit.age < 50 AND credit.housing IN ('free', 'rent')
'''

print(pd.read_sql(query_sql, mysql_con))

    age     sex job housing saving_accounts checking_account credit_amount  \
0    42  female   2    rent            rich             rich           409
1    35    male   2    free          little           little          3386
2    46    male   2    free      quite rich                            727
3    47    male   2    free          little                           5103
4    39    male   3    rent          little           little          3345
..   ..     ...  ..     ...             ...              ...           ...
106  37    male   2    rent          little           little          3676
107  48    male   2    free                                           9277
108  31  female   2    rent                                           2901
109  31    male   2    rent          little           little          2302
110  48  female   1    free        moderate             rich          1240

    duration              purpose default          contract_dt client_id
0         12             radio/TV       0  2008-06-05 05:31:13        27
1         12                  car       1  2007-11-16 10:55:10       457
2         10            education       0  2007-07-06 20:47:24       354
3         24             radio/TV       0  2007-10-25 09:51:21       683
4         24  furniture/equipment       1  2007-11-11 15:12:09       919
..       ...                  ...     ...                  ...       ...
106        6                  car       0  2008-06-05 22:58:54       617
107       24                  car       0  2008-05-23 11:15:16       881
108       10                  car       0  2008-01-21 10:08:36       767
109       36             radio/TV       1  2008-01-14 12:37:15       528
110       10                  car       1  2007-10-24 10:39:34       611

[111 rows x 12 columns]

C:\Users\Роман\AppData\Local\Temp\ipykernel_17860\902897306.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql(query_sql, mysql_con))

### LIKE
Оператор LIKE принимает шаблон строки, которому должно соответствовать выражение.

In [32]:
query_sql = '''SELECT * FROM german_credit AS credit
WHERE (credit.purpose LIKE '%furn%' OR credit.purpose LIKE '%edu%')
AND credit.age > 30
'''

print(pd.read_sql(query_sql, mysql_con))

    age     sex job housing saving_accounts checking_account credit_amount  \
0    52    male   2     own      quite rich                            936
1    46    male   2    free      quite rich                            727
2    39    male   3    rent          little           little          3345
3    44    male   2     own          little           little          1478
4    31    male   1     own          little           little          3108
..   ..     ...  ..     ...             ...              ...           ...
126  61    male   2    free                         moderate          1239
127  50    male   2     own          little                           1574
128  35    male   3     own          little                           3780
129  47    male   2     own          little                           1393
130  55  female   3     own                             rich          1424

    duration              purpose default          contract_dt client_id
0          9            education       0  2008-04-27 08:23:07       200
1         10            education       0  2007-07-06 20:47:24       354
2         24  furniture/equipment       1  2007-11-11 15:12:09       919
3         15  furniture/equipment       0  2007-09-23 07:36:29       479
4         30  furniture/equipment       1  2007-11-21 23:06:14       766
..       ...                  ...     ...                  ...       ...
126       18            education       0  2008-06-08 08:21:02       360
127       12  furniture/equipment       0  2007-05-19 06:27:51       281
128       18  furniture/equipment       0  2007-06-14 01:02:50       824
129       12            education       0  2007-08-06 05:12:05       635
130       12  furniture/equipment       0  2007-12-02 14:39:04       448

[131 rows x 12 columns]

C:\Users\Роман\AppData\Local\Temp\ipykernel_17860\3010810278.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql(query_sql, mysql_con))

### CASE WHEN
Функция CASE проверяет значение некоторого выражение, и в зависимости от результата проверки может возвращать тот или иной результат.

In [35]:
query_sql = '''SELECT credit.age,
CASE WHEN credit.age > 30 THEN 1 ELSE 0 END AS 'case'
FROM german_credit AS credit
'''

print(pd.read_sql(query_sql, mysql_con))

    age  case
0    33     1
1    43     1
2    52     1
3    35     1
4    28     0
..   ..   ...
995  65     1
996  30     0
997  33     1
998  29     0
999  44     1

[1000 rows x 2 columns]

C:\Users\Роман\AppData\Local\Temp\ipykernel_17860\2452833466.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql(query_sql, mysql_con))

### UNION ALL
Оператор UNION соединяет два однотипных набора в один

### GROUP BY
Оператор GROUP BY определяет, как строки будут группироваться.

In [36]:
query_sql = '''SELECT credit.sex, count(*) AS 'count', avg(credit.credit_amount) AS 'avg_credit_amount'
FROM german_credit AS credit
GROUP BY credit.sex
'''

print(pd.read_sql(query_sql, mysql_con))

      sex  count  avg_credit_amount
0    male    690        3448.040580
1  female    310        2877.774194

C:\Users\Роман\AppData\Local\Temp\ipykernel_17860\4137482928.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql(query_sql, mysql_con))

## Подзапросы
Это запросы, вложенные в другой запрос

### Обычные

In [49]:
query_sql = '''SELECT * FROM

(SELECT credit.age, count(*) AS 'cnt' FROM german_credit AS credit
GROUP BY credit.age) AS crd
WHERE crd.cnt > 25
'''

print(pd.read_sql(query_sql, mysql_con))

   age  cnt
0   33   33
1   35   40
2   28   43
3   27   51
4   29   37
5   26   50
6   34   32
7   37   29
8   32   34
9   24   44
10  36   39
11  31   38
12  30   40
13  22   27
14  23   48
15  25   41

C:\Users\Роман\AppData\Local\Temp\ipykernel_17860\1390045660.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql(query_sql, mysql_con))

### CTE (with)

In [50]:
query_sql = '''
WITH age_cnt AS (SELECT credit.age, count(*) AS 'cnt' FROM german_credit AS credit GROUP BY credit.age),

age_cnt2 AS (SELECT * FROM age_cnt AS age_credit WHERE age_credit.age > 20)

SELECT * FROM age_cnt2 AS age_credit2 WHERE age_credit2.cnt > 10
'''

print(pd.read_sql(query_sql, mysql_con))

   age  cnt
0   33   33
1   43   17
2   35   40
3   28   43
4   27   51
5   29   37
6   42   22
7   26   50
8   48   12
9   34   32
10  46   18
11  37   29
12  21   14
13  47   17
14  39   21
15  32   34
16  44   17
17  41   17
18  24   44
19  40   25
20  36   39
21  31   38
22  30   40
23  22   27
24  50   12
25  23   48
26  45   15
27  25   41
28  49   14
29  38   24

C:\Users\Роман\AppData\Local\Temp\ipykernel_17860\463251661.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql(query_sql, mysql_con))

## Соединение таблиц

### LEFT JOIN

In [57]:
query_sql = '''SELECT credit1.client_id, credit1.sex, credit2.credit_amount FROM german_credit AS credit1
LEFT JOIN (SELECT credit.client_id, credit.credit_amount FROM german_credit AS credit) AS credit2 on credit1.client_id = credit2.client_id
'''

print(pd.read_sql(query_sql, mysql_con))

    client_id     sex credit_amount
0         210    male          3074
1         929    male          1344
2         200    male          None
3          45  female          1393
4         358    male           776
..        ...     ...           ...
995       624    male          None
996       181    male          4455
997       730    male          6403
998       557  female          5003
999        23    male          1804

[1000 rows x 3 columns]

C:\Users\Роман\AppData\Local\Temp\ipykernel_17860\2238999703.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql(query_sql, mysql_con))

### INNER JOIN

In [58]:
query_sql = '''SELECT credit1.client_id, credit1.sex, credit2.credit_amount FROM german_credit AS credit1
INNER JOIN (SELECT credit.client_id, credit.credit_amount FROM german_credit AS credit WHERE credit.credit_amount < 2000) AS credit2 on credit1.client_id = credit2.client_id
'''

print(pd.read_sql(query_sql, mysql_con))

    client_id     sex credit_amount
0         929    male          1344
1         200    male           936
2          45  female          1393
3         358    male           776
4          86  female          1295
..        ...     ...           ...
427       611  female          1240
428       151    male          1924
429       448  female          1424
430       551    male          1750
431        23    male          1804

[432 rows x 3 columns]

C:\Users\Роман\AppData\Local\Temp\ipykernel_17860\4042608774.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql(query_sql, mysql_con))

## Оконные функции

### SUM

In [75]:
query_sql = '''SELECT credit.*,
SUM(credit.credit_amount) over (PARTITION BY credit.sex ORDER BY credit.credit_amount) AS cum_sum
FROM german_credit AS credit'''

print(pd.read_sql(query_sql, mysql_con))

     age     sex  job housing saving_accounts checking_account  credit_amount  \
0     41  female    1     own            rich                             250
1     27  female    2     own          little           little            343
2     52  female    1     own        moderate                             362
3     58  female    1     own          little           little            385
4     23  female    2    rent          little             rich            392
..   ...     ...  ...     ...             ...              ...            ...
995   68    male    3     own          little           little          14896
996   21    male    2     own          little                           15653
997   23    male    2     own          little         moderate          15672
998   43    male    3     own          little           little          15857
999   58    male    2    rent          little         moderate          15945

     duration              purpose  default contract_dt  client_id    cum_sum
0           6                  car        0  2007-05-17        725      250.0
1           6  domestic appliances        0  2007-11-11        458      593.0
2           6                  car        0  2007-07-18        379      955.0
3          12             radio/TV        0  2007-08-13        590     1340.0
4          15            education        0  2008-06-02        111     1732.0
..        ...                  ...      ...         ...        ...        ...
995         6                  car        1  2008-05-09        917  2316021.0
996        60             radio/TV        0  2008-04-26        637  2331674.0
997        48             business        1  2007-11-30        887  2347346.0
998        36      vacation/others        0  2007-05-16        818  2363203.0
999        54             business        1  2007-08-04         95  2379148.0

[1000 rows x 13 columns]

C:\Users\Роман\AppData\Local\Temp\ipykernel_17860\1740306418.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql(query_sql, mysql_con))

### RANK

In [79]:
query_sql = '''SELECT credit.*,
rank() over (PARTITION BY credit.sex ORDER BY credit.credit_amount desc) AS rnk
FROM german_credit AS credit'''

print(pd.read_sql(query_sql, mysql_con))

     age     sex  job housing saving_accounts checking_account  credit_amount  \
0     32  female    3     own          little         moderate          18424
1     60  female    3    free        moderate         moderate          14782
2     38  female    3    free          little         moderate          12976
3     44  female    3    free          little         moderate          12579
4     24  female    1    rent        moderate                           11590
..   ...     ...  ...     ...             ...              ...            ...
995   39    male    1     own          little                             426
996   38    male    2     own                         moderate            368
997   45    male    1     own          little           little            339
998   52    male    2     own      quite rich           little            338
999   22    male    1    rent          little         moderate            276

     duration          purpose  default contract_dt  client_id  rnk
0          48  vacation/others        1  2007-12-21        915    1
1          60  vacation/others        1  2007-06-11        374    2
2          18              car        1  2008-02-08        381    3
3          24              car        1  2007-06-20         18    4
4          48              car        1  2008-02-29        333    5
..        ...              ...      ...         ...        ...  ...
995         6         radio/TV        0  2008-04-24         26  686
996         6         radio/TV        0  2007-06-25        493  687
997        12        education        0  2007-06-23        157  688
998         6         radio/TV        0  2007-07-13        177  689
999         9              car        0  2007-10-08        309  690

[1000 rows x 13 columns]

C:\Users\Роман\AppData\Local\Temp\ipykernel_17860\4287232851.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql(query_sql, mysql_con))

### ROW_NUMBER

In [82]:
query_sql = '''SELECT credit.*,
row_number() over (PARTITION BY credit.sex ORDER BY credit.credit_amount desc) AS row_n
FROM german_credit AS credit'''

print(pd.read_sql(query_sql, mysql_con))

     age     sex  job housing saving_accounts checking_account  credit_amount  \
0     32  female    3     own          little         moderate          18424
1     60  female    3    free        moderate         moderate          14782
2     38  female    3    free          little         moderate          12976
3     44  female    3    free          little         moderate          12579
4     24  female    1    rent        moderate                           11590
..   ...     ...  ...     ...             ...              ...            ...
995   39    male    1     own          little                             426
996   38    male    2     own                         moderate            368
997   45    male    1     own          little           little            339
998   52    male    2     own      quite rich           little            338
999   22    male    1    rent          little         moderate            276

     duration          purpose  default contract_dt  client_id  row_n
0          48  vacation/others        1  2007-12-21        915      1
1          60  vacation/others        1  2007-06-11        374      2
2          18              car        1  2008-02-08        381      3
3          24              car        1  2007-06-20         18      4
4          48              car        1  2008-02-29        333      5
..        ...              ...      ...         ...        ...    ...
995         6         radio/TV        0  2008-04-24         26    686
996         6         radio/TV        0  2007-06-25        493    687
997        12        education        0  2007-06-23        157    688
998         6         radio/TV        0  2007-07-13        177    689
999         9              car        0  2007-10-08        309    690

[1000 rows x 13 columns]

C:\Users\Роман\AppData\Local\Temp\ipykernel_17860\3903374365.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql(query_sql, mysql_con))

## Встроенные функции